# PORT: Server listen port.
PORT=3002

# STATIC_DIST_DIR: directory for SPA static bundle.
STATIC_DIST_DIR="./dist"

# GITHUB_TOKEN: GitHub Personal Access Token.
# Used to authenticate API requests to fetch repositories, topics, issues, PRs, and checks.
GITHUB_TOKEN=""
